<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.edu.utas.ssun1.kit203assignment2">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KIT203Assignment2">
        <activity
            android:name=".ActivityDesignedExercise"
            android:exported="false" />
        <activity
            android:name=".ActivityDesignedExerciseSettings"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="au.edu.utas.ssun1.kit203assignment2"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ActivityHistoryDetail"
            android:exported="false" />
        <activity
            android:name=".ActivityHistoryList"
            android:exported="false" />
        <activity
            android:name=".ActivityRepetitionExercise"
            android:exported="false" />
        <activity
            android:name=".ActivityRepetitionExerciseSettings"
            android:exported="false" />
        <activity
            android:name=".ActivityMainMenu"
            android:exported="false" />
        <activity
            android:name=".ActivityEditName"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>